<div class='blogSection'><h2>Add a comment</h2>
  <div id='comment_form'>
    <% form_for @comment do |comment_form| %>
      <%= hidden_field_tag :post_id, @post.id %>
      <p>
        <strong>Author:</strong><br />
        <%= comment_form.text_field :author %>
      </p>
      <p>
        <strong>Body:</strong><br />
        <%= comment_form.text_area :body %>
      </p>
      <p><%= comment_form.submit 'Post Comment'%></p>
    <% end%>
  </div>
</div>