a:link {
  color: #00e ; 
  text-decoration: none;
}
a:active {
  color: #00E ; 
  text-decoration: none;
}
a:visited {
  color: #eee; 
  text-decoration: none;
}
a:hover {
  color: #D3D3D3; 
  text-decoration: underline;
}
h2 a:link {
  color: #eee ; 
  text-decoration: none;
}
h2 a:active {
  color: #EEE ; 
  text-decoration: none;
}
h2 a:visited {
  color: #eee; 
  text-decoration: none;
}
h2 a:hover {
  color: #D3D3D3; 
  text-decoration: underline;
}
h3 a:link {
  color: #eee ; 
  text-decoration: none;
}
h3 a:active {
  color: #EEE ; 
  text-decoration: none;
}
h3 a:visited {
  color: #eee; 
  text-decoration: none;
}
h3 a:hover {
  color: #D3D3D3; 
  text-decoration: underline;
}

body {
  font:13px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
  background-image:url('/images/backgrounds/bg_paper.gif');
  background-repeat:repeat-xy;
}
p {
  margin: 0;
  padding: 0;
}
img {
  border: 0px;
}

h1#main_title{
  color:#FFF;
  font-family:"Impact",Charcoal,sans-serif;
  text-align:left; 
  margin:0px 0px 0px 4px; 
  padding 0px;
  font-size:4em;
  font-weight:bold;
  background-position: bottom;
}
h2 {
  background-image:url('/images/backgrounds/gradient.jpeg');
  background-repeat:repeat-x;
  background-position: bottom;
  color: #eee;
  font-size:19px;
  font-weight:normal; 
  margin: 0px;
  padding: 2px 8px;
}
h3 {
  background-image:url('/images/backgrounds/gradient.jpeg');
  background-repeat:repeat-x;
  background-position: bottom;
  color: #eee;
  font-size:19px;
  font-weight:bold; 
  margin: 0px;
  padding: 2px 8px;
}
.leftImageSection{
  float:left;
  border-width:4px;
  border-style: solid;
  margin: 4px 4px 4px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
}
.center{
  margin-left:auto;
  margin-right:auto;
  width:70%;
}
.blogSection{
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  border:1px solid #222222;
  font-size:120%;
  margin:0px 0px 12px 0px;  
}
.sideSection{
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  border:1px solid #222222;
  font-size:120%;
  margin:0px 0px 12px 10px;
}
.blogSection p{
  padding:8px;
}
.postControls{
  align: right;
}

#wrap{
  margin-left:auto;
  margin-right:auto;
  width:950px;
}
#content-top{
  background-image:url('/images/backgrounds/gradient.jpeg');
  background-repeat:repeat-x;
  text-align:center;
  width: 950px;
  margin: 0px 0px 12px 0px;
  border:1px solid #222222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
}
#error{
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  width: 950px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 2px;
}
#content-both{
  width:  950px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#content-left{
  padding:0px; 
  width: 550px;
  float: left;
  margin: 0px 0px 0px 0px;
}
#content-right{
  padding:0px; 
  width:400px;
  float:left;
  margin: 0px 0px 0px 0px;
}
#content-bottom{
  width: 900px;
  clear: both;
}

#twitter_update_list{
  padding:25px;
  margin: 0px;
  list-style-image:url("/images/icons/Twitter-icon.png");
}
p#bio  {
  padding: 8px ;
  font-weight: bold;
}
#facebookBadge{
  background-image:url('http://badge.facebook.com/badge/533330455.827.1826763779.png');
  background-position: bottom left;
  height: 110px;
  width: 355px;
}
