body {
  /*font-family: Gill Sans, sans-serif;*/
  font:13px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
/*  background-image:url("/images/backgrounds/body.jpg");*/
  background-color: #141414;
}
#content {
  background-color: #A9A9A9;
  padding:2px 4px; 
  width: 800px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
a:link {
  color: #778899 ; text-decoration: none; 
}
a:active {
  color: #7B68EE ; text-decoration: none; 
}
a:visited {
  color: #696969; text-decoration: none; 
}
a:hover {
  color: #D3D3D3  ; text-decoration: underline; 
}
#error{
  background-color: #D3D3D3;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  width: 200px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 2px;
}

.center{
  margin-left:auto;
  margin-right:auto;
  width:70%;
}
img {
  border: 0;
}
.blogSection{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  background-color:#141414;
  border:1px solid #222222;
  font-size:120%;
  margin-top:1em;
  padding:15px;
  color: #FFF;
  margin:1em 0;
  overflow:hidden;
}
