ul.nav_menu
{
 list-style:none; 
 list-style-type: none; 
 padding: 0;
 margin: 0;
}
.nav_menu ul { list-style-type: none; }
.nav_menu li{float: left; margin: 0 1em;}
.nav_menu li :hover {background: #2F4F4F ;color: #D3D3D3  ; text-decoration: underline; }
.nav_menu li a
{
  background-color:#A9A9A9;
  float: left;
  color: white; 
  display: block;
  border: 1px solid #D3D3D3;
  color: #141414;
  text-decoration: none;
  text-align:center;
  padding: 4px 6px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
}

