#nav_menu ul
{
 list-style:none; 
 padding: 0;
 margin: 0;
}
#nav_menu li
{
  float: left;
  margin: 0 0.15em;
}
#nav_menu li a
{
  background-image: url("/images/backgrounds/body.jpg");
  float: left;
  color: white; 
  display: block;
  border: 1px solid #800;
  color: grey;
  text-decoration: none;
  text-align:center;
  padding: 4px 6px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: #888 2px 2px 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}