<%-
#/app/views/posts/_form.html.erb
# Displays the form for creating or editing a post.
-%>
<% form_for @post do |post_form| %>
    <p>
      <strong>Title:</strong><br />
      <%= post_form.text_field :title %><br />
      <%= post_form.hidden_field :author %>
      <strong>Body:</strong><br />
      <%= post_form.text_area :body %>
      <%- if logged_in? %>
        <script type="text/javascript" charset="utf-8">
          CKEDITOR.replace('post_body');
        </script>
      <% end %>
    </p>
    <p><%= post_form.submit 'Save post' %></p>
<% end%>
