<ul class='nav_menu blogSection'>
  <li><%= link_to "Blog", :controller => :posts %></li>
  <li><a href="about.html">About</a></li>
  <li><a href="development.html">Development</a></li>
  <li><a href="mailto:davidhines01@gmail.com?subject=Comments from MailTo Syntax Page">Contact</li>
</ul>