<div class="sideSection">
  <h3>About Me</h3>
  <div id='bioDiv' class="toggleable">
    <p id='bio'>
      I'm an amateur artist, a hobbyist game designer, a Computer Science student at Cape Breton University
      and a developer with Marcato Digital.
    </p>
  </div>
</div>
<div class="sideSection">
  <h3><a href="http://www.facebook.com/people/David-A-Hines/533330455">Friend me on facebook</a></h3>
  <div id='facebookBadge' class="toggleable">
    <p>&nbsp;</p>
  </div>
</div>
<div class="sideSection">
  <h3><a href="http://www.twitter.com/davidahines">Follow me on twitter</a></h3>
  <div id='twitterDiv' class="toggleable">
    <ul id="twitter_update_list">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ul>
  </div>
</div>