<div class="sideSection">

  <p><strong> 	I'm an amateur artist, a hobbyist game designer, a Computer Science student at Cape Breton University and a developer with Marcato Digital.</strong></p>
  
</div>



<div class="sideSection">
  <a href="http://www.facebook.com/people/David-A-Hines/533330455" target="_TOP" title="David A Hines"><img src="http://badge.facebook.com/badge/533330455.827.1826763779.png" width="360" height="141" style="border: 0px;" /></a>
</div>
<div class="sideSection">
    <h3>Twitter</h3>
    <ul id="twitter_update_list"><li>&nbsp;</li><li>&nbsp;</li></ul>
</div>
