<%-
# app/views/posts/new.html.erb
# Displays a form element for the post.
-%>
<div class='blogSection'>
<h2>Editing a post</h2>
<%= error_messages_for 'post'%>
<%= render :partial => 'form' %>
</div>