<%-
#/app/views/posts/index.html.erb
# Displays all the posts in the collection.
-%>

<h1>All Posts <%= link_to image_tag( '/images/icons/report_add.png'), new_post_path %></h1>

<%= render :partial => 'post', :collection => @posts %>
<%= render :partial => 'form' %>